<nav class="customer-navbar">
    <div class="brand">Gotorz Travel Customer</div>
    <div class="links">
        <NavLink href="/customer-home" Match="NavLinkMatch.All">Customer Home</NavLink>
        <NavLink href="/travel-packages">Travel Packages</NavLink>
        <NavLink href="/contact">Contact</NavLink>
    </div>
</nav>
