@page "/AdminHome"
@using TravelFusionLean.Components.Layout.Admin
@layout AdminLayout
<PageTitle>Admin Home</PageTitle>

<link href="css/CustomColors.css" rel="stylesheet" />

<div class="container py-5">
    <h1 class="text-primary fw-bold mb-3">Welcome to Gotorz's Admin Site!</h1>
    <p class="lead mb-4">Choose your next action to continue.</p>

    <div class="mb-4">
        <a class="btn btn-outline-primary" href="/UserRoles/UserRoleList">Manage User Roles</a>
    </div>

    <div class="row g-4">
        <!-- New Admin -->
        <div class="col-md-6 col-lg-4">
            <div class="card text-center p-4 fade-in">
                <img src="https://cdn-icons-png.flaticon.com/512/9703/9703596.png"
                     alt="Admin Icon" class="mx-auto mb-3" style="max-height: 140px;" />
                <h5 class="fw-semibold">New Admin</h5>
                <a href="/CreateUser" class="btn btn-primary mt-3">Create Admin</a>
            </div>
        </div>

        <!-- New Employee -->
        <div class="col-md-6 col-lg-4">
            <div class="card text-center p-4 fade-in">
                <img src="https://cdn-icons-png.flaticon.com/512/4974/4974985.png"
                     alt="Employee Icon" class="mx-auto mb-3" style="max-height: 140px;" />
                <h5 class="fw-semibold">New Employee</h5>
                <a href="/CreateUser" class="btn btn-primary mt-3">Create Employee</a>
            </div>
        </div>
    </div>
</div>
