@page "/customer-home"
@using TravelFusionLean.Components.Layout.Customer
@layout CustomerLayout
@attribute [StreamRendering]

<PageTitle>Welcome</PageTitle>

<h1 class="text-primary">🌍 Welcome to Gotorz!</h1>

<p class="lead">Find your perfect travel package – fast, flexible, and fun!</p>
