@page "/success"
@using System.Threading.Tasks
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="center-container">
    <h1>Betaling gennemført ✅</h1>
    <p>Tak for din betaling! Din rejsepakke er nu booket.</p>

    @if (_isRedirecting == true)
    {
        <!-- Loading spinner -->
        <div class="spinner-container" style="text-align:center;">
            <div class="spinner"></div>
            <p>Vi viderestiller dig til forsiden...</p>
        </div>
    }
</div>

@code {
    private bool _isRedirecting = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) // Kør kun én gang, når komponenten første gang bliver rendret
        {
            _isRedirecting = true;  // Sæt til true, hvis du vil gøre noget, når redirect begynder
            StateHasChanged(); // Opdater UI for at vise spinneren
            await Redirect();
        }
    }
    private async Task Redirect()
    {
        await Task.Delay(2000);
        NavigationManager.NavigateTo("/customer-home"); 
    }
}
