@page "/"
@using TravelFusionLean.Components.Layout.Admin
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage sessionStorage
@using System.Net.Http.Headers
@using Shared.DTOs
@using TravelFusionLean.Models
@inject IHttpClientFactory ClientFactory
@rendermode InteractiveServer
@inject IUserService _userService

@layout AdminLayout

<PageTitle>Login</PageTitle>

<h3 class="text-primary text-center">Admin Login</h3>

<!-- Login Form -->
<EditForm Model="@loginModel" OnValidSubmit="HandleLogin" FormName="loginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="card bg-info-subtle p-4" style="width: 300px; margin: auto;">
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
        </div>

        <button type="submit" class="btn btn-primary w-100">Login</button>
    </div>
</EditForm>




@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-danger text-center mt-3">@message</div>
}

@code {
    // Create named HttpClient instance, som jeg har registreret i Program.cs
    private HttpClient Http => ClientFactory.CreateClient("AuthApi");

    // Login form model
    private UserLoginDto loginModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        loginModel = new UserLoginDto();
        await base.OnInitializedAsync();
    }

    // Error eller status message
    private string message;

    // Håndtere login
    private async Task HandleLogin()
    {
        try
        {
            // Sender login til AuthController 
            User? currentUser =  await _userService.AuthenticateByUsernameAsync(loginModel);

            Console.WriteLine("hej");

            var response = await Http.PostAsJsonAsync("https://localhost:7274/api/auth/login", loginModel);

            if (response.IsSuccessStatusCode)
            {
                //Læser JWT response
                var loginResponse = await response.Content.ReadFromJsonAsync<LoginResponse>();

                // Gemmer token i session storage
                await sessionStorage.SetAsync("authToken", loginResponse.Token);

                // Tilføjer token til Authorization header
                Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", loginResponse.Token);

                message = "";

                // Hvis login succesful sender den user til Admin home page
                NavigationManager.NavigateTo("/AdminHome");
            }
            else
            {
                message = "Invalid login credentials.";
            }
        }
        catch (Exception ex)
        {
            
            message = $"Error during login: {ex.Message}";
        }
    }

    // Response objekt 
    public class LoginResponse
    {
        public string Token { get; set; }
        public string Username { get; set; }
        public string Role { get; set; }
    }
}

