@page "/"
@using TravelFusionLean.Components.Layout
@layout AdminLayout
<PageTitle>AdminHome</PageTitle>

<h1 class="text-primary">Welcome to Gortoz's admin site!</h1>

Choose your next action to continue.<br>
<br/>
<br/>

<a href="/UserRoles/UserRoleList">UserRole
    s</a>