@page "/EditUser/{UserId:int}"  
@* vi skal være obs på Insecure Direct Object Reference (IDOR) angreb... husk adgangskontrol *@
@layout AdminLayout
@rendermode InteractiveServer

@using System.Security.Cryptography
@using System.Text
@using Microsoft.EntityFrameworkCore
@using ServiceContracts
@using TravelFusionLean.Data
@using TravelFusionLean.Components.Layout
@using TravelFusionLean.Models
@using System.ComponentModel.DataAnnotations
@using TravelFusionLean.Components.Layout

@inject IUserService UserService
@inject IUserRoleService UserRoleService

@inject AppDbContext DbContext
@inject NavigationManager NavigationManager

@code {
    [Parameter]
    public int UserId { get; set; }

    private User user = new();
    private int selectedRoleId;
    private List<UserRole> _userRoles = new();

    protected override async Task OnInitializedAsync()
    {
        user = DbContext.Users
            .Include(u => u.UserRole)
            .FirstOrDefault(u => u.Id == UserId);

        _userRoles = (await UserRoleService.GetAllAsync()).ToList();
        UserRole selectedRole = _userRoles.FirstOrDefault(u => u.Id == user.UserRoleId);
        selectedRoleId = selectedRole.Id;

        await base.OnInitializedAsync();
    }

    private void SaveChanges()
    {
        user.UserRoleId = selectedRoleId;
        DbContext.Users.Update(user);
        DbContext.SaveChanges();
        NavigationManager.NavigateTo("/UserList");
    }
}
<h3>Rediger bruger</h3>

<EditForm Model="@user" OnValidSubmit="@SaveChanges">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Brugernavn</label>
        <InputText class="form-control" @bind-Value="user.Username" />
    </div>

    <label for="roleSelect">Select a role:</label>
    <select @bind="selectedRoleId">
        @foreach (UserRole role in _userRoles)
        {
            <option value="@role.Id">@role.Name</option>
        }
    </select>

    <br><br />
    <br><br />

    <h6>Kontaktoplysninger</h6>
    <div class="mb-3">
        <label>Name</label>
        <InputText class="form-control" @bind-Value="user.Contact.Name" />
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <InputText class="form-control" @bind-Value="user.Contact.PhoneNumber" />
    </div>

    <div class="mb-3">
        <label>Email</label>
        <InputText class="form-control" @bind-Value="user.Email" />
    </div>

    <button type="submit" class="btn btn-primary">Gem ændringer</button>
</EditForm>
